{% extends 'blog/layout.html' %}

{% block title %} Create Critique {% endblock %}
{% block header %} {% include 'blog/header.html' %} {% endblock %}

{% block content %}
<div class="container"> 
    <h1>Create a New Critique</h1>

    <div class="ticket-form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ ticket_form.as_p }}
            <div class="form-group">
                {{ review_form.headline.label_tag }} {{ review_form.headline }}
            </div>
            <div class="form-group">
                <label for="id_rating">Rating:</label>
                <div class="d-flex">
                    {% for radio in review_form.rating %}
                        <div class="form-check form-check-inline">
                            {{ radio.tag }}
                            <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ review_form.body.label_tag }} {{ review_form.body }}
            </div>
            <button type="submit" class="btn btn-primary">Submit Critique</button>
        </form>
    </div>
</div>
{% endblock %}