{% extends 'blog/layout.html' %}

{% block title %} {{ ticket.title }} {% endblock %}

{% block header %} {% include 'blog/header.html' %} {% endblock %}

{% block content %}
<div class="container">
    <h1>{{ ticket.title }}</h1>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="Ticket Image:{{ post.title }}" class="ticket-image">
    {% endif %}
    
    {% if ticket.user == request.user %}
    <div class="ticket-actions">
        <a href="{% url 'blog:edit_ticket' ticket.id %}" class="btn btn-warning btn-sm me-2">Edit Ticket</a>
        <span> | </span>
        <a href="{% url 'blog:delete_ticket' ticket.id %}" class="btn btn-danger btn-sm">Delete Ticket</a>
    </div>
    {% endif %}

    <h2>Reviews:</h2>
    <ul class="review-list">
        {% for review in reviews %}
            <li class="review-item mb-4 p-3 border rounded border-dark">
                <h3>{{ review.headline }}</h3>
                <p>Rating: {{ review.rating }}</p>
                <p>{{ review.body }}</p>
                <p>Reviewed by: {{ review.user.username }}</p>
                <p>Created on: {{ review.time_created }}</p>
                {% if review.user == request.user %}  <!-- check et montre edit/delete que pour l'auteur -->
                <div class="review-actions">
                    <a href="{% url 'blog:edit_review' review.id %}" class="btn btn-warning btn-sm me-2">Edit Review</a>
                    <span> | </span>
                    <a href="{% url 'blog:delete_review' review.id %}" class="btn btn-danger btn-sm">Delete Review</a>
                </div>
                {% endif %}
            </li>
        {% empty %}
            <li>No reviews yet.</li>
        {% endfor %}
    </ul>
    {% if messages %}
        <ul class="alert alert-danger">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    
    <a href="{% url 'blog:create_review' ticket.id %}" class="btn btn-success btn-sm">Write a Review</a>
</div>
{% endblock %}